<div class="container">
  <div class="card card-container">
    <img id="profile-img" class="profile-img-card" src="../../assets/images/logo-ufro.png" alt="Logo Universidad de la Frontera" />
    <p id="profile-name" class="profile-name-card"></p>
    <form class="form-signin" [formGroup]="loginForm">
      <span id="reauth-email" class="reauth-email"></span>
      <label for="email" class="sr-only">Email</label>
      <input formControlName="email" type="email" id="email" class="form-control" placeholder="Correo electrónico" required autofocus>
      <label for="password" class="sr-only">Password</label>
      <input formControlName="password" type="password" id="password" class="form-control" placeholder="Contraseña" required>
      <div class="my-2 pb-1" *ngIf="error">
        <span class="text-danger">{{error}}</span>
      </div>

      <div *ngIf="success; else login">
        <button class="btn btn-lg btn-success btn-block" type="button" disabled>
          ¡Éxito!, redireccionando
          <div class="ml-2 spinner-border spinner-border-sm" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </button>
      </div>
      <ng-template #login>
        <button [disabled]="loading" (click)="submit()" class="btn btn-lg btn-primary btn-block btn-signin" type="button">
          <div *ngIf="!loading; else l">
            Iniciar sesión
          </div>
          <ng-template #l>
            Loading
            <div class="ml-2 spinner-border spinner-border-sm" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </ng-template>
        </button>
      </ng-template>
    </form>
  </div>
</div>
