<div class="w-full flex justify-between">
    <h2 mat-dialog-title>
        Eliminar credencial
    </h2>

    <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>

<mat-dialog-content>
    <div class="flex">
        <mat-list role="list">
            <mat-list-item role="listitem">
                <b>Nombre:</b>
            </mat-list-item>
            <mat-list-item role="listitem">
                <b>Identificador:</b>
            </mat-list-item>
        </mat-list>

        <mat-list role="list">
            <mat-list-item role="listitem">
                {{ oauth2Client.nombre }}
            </mat-list-item>
            <mat-list-item role="listitem">
                {{ oauth2Client.clientId }}
            </mat-list-item>
        </mat-list>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <div *ngIf="!eliminando" class="m-2">
        <button id="botonEnviar" class="w-full" (click)="onSubmit()" mat-raised-button color="primary">
            <span class="hidden md:inline">Eliminar</span>
            <mat-icon class="inline md:hidden">delete</mat-icon>
        </button>
    </div>

    <div *ngIf="!eliminando" class="m-2">
        <button class="w-full" mat-raised-button mat-dialog-close color="warn">
            <span class="hidden md:inline">Cancelar</span>
            <mat-icon class="inline md:hidden">close</mat-icon>
        </button>
    </div>

    <div class="w-full h-16" *ngIf="eliminando">
        <mat-progress-spinner class="m-auto" diameter="48" color="primary" mode="indeterminate"></mat-progress-spinner>
    </div>
</mat-dialog-actions>