<div class="mt-5 container">
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <h5 class="mt-2">Usuarios</h5>
            </div>
        </div>
        <form class="card-body" #form="ngForm" (submit)="submit()">
            <!-- USERNAME -->
            <div class="form-group">
                <label for="username">Correo electronico</label>
                <input id="username" name="username" [(ngModel)]="user.username" type="email" class="form-control" placeholder="Correo electronico" required>
            </div>
            <!-- PASSORD -->
            <div class="form-group">
                <label for="password">Contraseña</label>
                <input id="password" name="password" [(ngModel)]="user.password" type="password" class="form-control" placeholder="Password" required>
            </div>

            <!-- ADDRESS-->
            <div class="form-group">
                <label for="address">Dirección</label>
                <input id="address" name="address" [(ngModel)]="user.address" type="text" class="form-control" placeholder="Dirección">
            </div>
            <!-- NICKNAME -->
            <div class="form-group">
                <label for="nickname">Nickname</label>
                <input id="nickname" name="nickname" [(ngModel)]="user.nickname" type="text" class="form-control" placeholder="Nickname">
            </div>

            <!-- givenName-->
            <div class="form-group">
                <label for="givenName">Nombre de pila</label>
                <input id="givenName" name="givenName" [(ngModel)]="user.givenName" type="text" class="form-control" placeholder="Nombre">
            </div>
            <!-- middleName -->
            <div class="form-group">
                <label for="middleName">Segundo Nombre</label>
                <input id="middleName" name="middleName" [(ngModel)]="user.middleName" type="text" class="form-control" placeholder="Segundo Nombre">
            </div>
            <!-- familyName-->
            <div class="form-group">
                <label for="familyName">Apellido</label>
                <input id="familyName" name="familyName" [(ngModel)]="user.familyName" type="text" class="form-control" placeholder="Apellido">
            </div>

            <!-- locale -->
            <div class="form-group">
                <label for="locale">Idioma</label>
                <input id="locale" name="locale" [(ngModel)]="user.locale" type="text" class="form-control" placeholder="Idioma">
            </div>


            <!-- phone-->
            <div class="form-group">
                <label for="phone">Número de Teléfono</label>
                <input id="phone" name="phone" [(ngModel)]="user.phone" type="phone" class="form-control" placeholder="Teléfono">
            </div>
            <!-- website -->
            <div class="form-group">
                <label for="website">Sitio web</label>
                <input id="website" name="website" [(ngModel)]="user.website" type="text" class="form-control" placeholder="Sitio web">
            </div>

            <button type="submit" class="btn btn-primary" >Submit</button>
        </form>
    </div>
</div>