<div class="mt-5 container">
  <div class="card">
    <div class="card-header">
      <div class="d-flex justify-content-between">
        <h5 class="mt-2">Usuarios</h5>
      </div>
    </div>
    <div class="card-body" [formGroup]="form">
      <div class="form-group">
        <label for="username">Correo electronico</label>
        <input id="username" formControlName="username" type="email" class="form-control" placeholder="Correo electronico">
      </div>
      <div class="form-group">
        <label for="password">Contraseña</label>
        <input id="password" formControlName="password" type="password" class="form-control"  placeholder="Password">
      </div>
      <button type="button" class="btn btn-primary" (click)="submit()">Submit</button>
    </div>
  </div>
</div>
