<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

    <form action="/oauth/authorize" method="post">
        <input name="user_oauth_approval" value="true" type="hidden" />
        <label><input name="authorize" value="Autorizar" type="submit"></label>
    </form>
    <form action="/oauth/authorize" method="post">
        <input name="user_oauth_approval" value="false" type="hidden" />
        <label><input name="deny" value="Denegar" type="submit"></label>
    </form>

</body>

</html>